.cart{
    display: flex;
    flex-wrap: wrap;
    margin: 1rem;
    align-items: flex-start;
    margin-top: 100px;
    
}

.cartList{
  flex: 3 1 60rem;
}

.cartAction{
  flex: 1 1 20rem;
  background-color: #f8f8f8;
  border: .1rem #808080 solid;
  border-radius: .5rem;
  padding: 1rem;
  margin-top: 50px;
}

.cartListContainer{
  padding: 0;
  list-style-type: none;
  padding: 1rem;
}

.cartListContainer li:first-child{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  
  font-size: 1.5rem;
  
}

.cartListContainer li img{
  max-width: 10rem;
  max-height: 10rem;
  

}

.cartImage{
  flex: 1 1;
  max-width: 10rem;
}

.cartContent{
  margin-bottom: 1rem;
  margin-top: 1rem;
  padding-left: 1rem;
  padding-top: 1rem;
  border: .1rem #808080 solid;
}

.cartName{
  flex: 8 1;
}

.cartPrice{
  flex :1 1;
  text-align: right;
}

.button{
  padding: 1rem;
  border: .1rem #808080 solid;
  background-color: #f0c040;
  border-radius: 0.5rem;
  cursor: pointer;
}
.button:hover{
  border: .1rem #404040 solid;
}
.button.primary{
  background-color: #f0c040;
}
.button.secondary{
  background-color: #f0f0f0;
}  

