.SideDrawer{
    height : 100%;
    background: white;
    box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.5);
    position: fixed;
    top:0;
    left:0;
    width: 70%;
    max-width: 400px;
    z-index: 200;
    /* transform: translateX(-100%) */
}


.Open{
    height : 100%;
    background: white;
    box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.5);
    position: fixed;
    top:0;
    left:0;
    width: 70%;
    max-width: 400px;
    z-index: 200;
    transform: translateX(0)
}

.Close{
    height : 100%;
    background: white;
    box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.5);
    position: fixed;
    top:0;
    left:0;
    width: 70%;
    max-width: 400px;
    z-index: 200;
    transform: translateX(-30rem)
}

.SideDrawer ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.SideDrawer li{
    margin: 0.5rem 0;;
}

.SideDrawer a{
    color: #521751;
    text-decoration: none;
    font-size: 1.2rem;
}

.SideDrawer a:hover,
.SideDrawer a:active{
    color: #fa923f;
}

