.ToggleButton{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 30px;
    width: 36px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    box-sizing: border-box;
    margin-left: 1rem;
}

.ToggleButton:focus{
    outline: none;
}

.ToggleButtonLine{
    width: 30px;
    height: 2px;
    background: white;
}